@tailwind base;
@tailwind components;

.burger-menu {
  @apply block md:hidden;
}

.btn {
  @apply flex items-center justify-center px-8 py-2 border border-transparent text-base font-medium;
}

.content {
  @apply w-full lg:w-1/2 py-5 px-4 sm:px-6 lg:px-8 flex flex-wrap content-center lg:justify-start justify-center;
}

.card-icon {
  @apply p-2 rounded-lg relative top-5 left-5 shadow-sm;
}

.dashboard-nav-active {
  @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium;
}

.dashboard-nav {
  @apply text-gray-900 hover:bg-gray-900 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}
.dashboard-nav-mobile-active {
  @apply bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium;
}

.dashboard-nav-mobile {
  @apply text-gray-900 hover:bg-gray-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
}

.footer {
  @apply pt-4;
}

.footer-section {
  @apply text-center p-2 lg:text-left md:p-5 mb-3 md:mb-0;
}

.form-entry {
  @apply mb-4 grid grid-cols-2 sm:items-center;
}

.form-label {
  @apply block text-gray-800 text-sm font-bold mb-2;
}

.form-input {
  @apply inline px-3 py-2 text-gray-600 rounded appearance-none disabled:opacity-80 bg-transparent;
}

.notification {
  @apply text-sm font-normal italic ml-4;
}

.notification-red {
  @apply notification text-red-500;
}

.notification-green {
  @apply notification text-green-500;
}

.hero {
  @apply text-center mt-10 sm:mt-12 md:mt-16 lg:mt-20 xl:mt-28;
}

.hero .cta {
  @apply flex justify-center mb-4 md:mb-8 mt-8 md:mt-5;
}

.layout {
  @apply flex flex-col justify-between h-screen;
}

.modal {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  @apply w-full pt-10 px-6 pb-6 rounded-t-none rounded-b bg-white flex-col justify-center text-center;
}

.modal-content li {
  @apply medium pb-4;
}

.modal-content li:hover {
  @apply font-bold;
}

.nav-menu {
  @apply hidden md:flex md:justify-between  ml-6 w-full;
}

.nav-menu li {
  @apply p-4;
}

.nav-menu li a:hover {
  @apply text-indigo-700;
}

.text-button {
  @apply font-semibold text-xl underline;
}

.service {
  @apply text-center p-8;
}

.service .icon {
  @apply mx-auto mb-6 md:mb-8;
}

.split-side {
  @apply flex flex-col lg:flex-row justify-center;
}

#sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
}

#sidebar span {
  opacity: 0;
  position: absolute;
  transition: ease-in-out all 0.1s;
}

#sidebar:hover {
  width: 100px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  /*shadow-2xl*/
}

#sidebar:hover span {
  opacity: 1;
}

@tailwind utilities;

/* Heading Responsive Styles */

.xxxlarge {
  @apply text-5xl md:text-6xl lg:text-7xl;
}

.xxlarge {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

.xlarge {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

.large {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.medium {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.normal {
  @apply text-lg md:text-xl lg:text-2xl;
}

.small {
  @apply text-base md:text-lg lg:text-xl;
}

.footer-small {
  @apply text-base;
}

.icon-xsmall {
  @apply h-5 w-5;
}

.icon-small {
  @apply w-8 h-8;
}

.icon-normal {
  @apply w-10 h-10;
}

.icon-medium {
  @apply w-14 h-14;
}

.icon-large {
  @apply w-16 h-16;
}

.icon-xlarge {
  @apply w-20 h-20;
}
